<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Cloud Tasks Example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/custom.css?cache=0" rel="stylesheet">
</head>

<body style="text-align: center;background-color: #4fe49f;">
    <div class="container">
        <h1>Antai workshop</h1>
	<img src="https://careers.talentclue.com/system/files/tc_images/antai_logo_final_1427286127.png">
        <div class="jumbotron center">
            <h1>Upload your image</h1>
	    <div class="wrapper-button">
              <p class="lead"></p>
	         <form id="upload-form" action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
              <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
              <label for="file-picker" class="btn btn-lg btn-success">Select file</label>
		 </form>
 	    </div>
        </div>
    </div>
</body>
 
</html>
