<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Cloud Run Example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/custom.css?cache=0" rel="stylesheet">
</head>

<body style="text-align: center;">
    <div class="container">
        <h1>FINSA - CI/CD</h1>
	<img style="max-width: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Financiera_Maderera_Finsa_MDE_W3S.svg/1200px-Financiera_Maderera_Finsa_MDE_W3S.svg.png">
        <div class="jumbotron center">
            <h1>Upload your image</h1>
	    <div class="wrapper-button">
              <p class="lead"></p>
	         <form id="upload-form" action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
              <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
              <label for="file-picker" class="btn btn-lg btn-success">Select file</label>
		 </form>
 	    </div>
        </div>
    </div>
</body>
 
</html>
